# =====================
# Environment variables
# =====================
.env
.env.*
backend/.env
backend/.env.*

# =====================
# Python virtual env
# =====================
.venv/
venv/
env/
backend/.venv/
backend/venv/

# =====================
# Python cache
# =====================
__pycache__/
*.pyc

# =====================
# Node
# =====================
node_modules/

# =====================
# IDE / OS
# =====================
.vscode/
.idea/
.DS_Store
Thumbs.db


backend/firebase-service-account.json
backend/alembic

 
# Python
__pycache__/
*.pyc
*.pyo"